<html>
<head>
<title>Homework</title>
</head>
<body>
	<p>
		<em>
			<b>
				<h1>
					Top 5 best films
				</h1>
			</b>
		</em>
	<hr>
	</p>
	<p>
		<h4>
			<b>
				<i>
					1.The Shawshank Redemption 
				</i>
			</b>
		</h4>
		<picture>
			
			<img src="imm.jpg" alt="Flowers" style="width:auto;" width=""  height="200">
			
		</picture>
		<br>
		<video width="400" muted autoplay  controls>
			<source src="video.mp4" type="video/mp4">
			 <source src="video.ogg" type="video/ogg">
		</video>
		
	
		<ul>
		  <li>Produced by - 
			<b>
				<i>
					Niki Marvin
				</i>
			</b>
		</li>
		  <li>Production company - 
			<b>
				<i>
					Castle Rock Entertainment
				</i>
			</b>
		</li>
		  <li>Release date -
			<b>
				<i>
					1994
				</i>
			</b>
		</li>
		</ul>
	</p>
<hr>

<p>
		<h4>
			<b>
				<i>
					2.The Godfather
				</i>
			</b>
		</h4>
		<picture>
			
			<img src="image 2.jpg" alt="Flowers" style="width:auto;" width=""  height="200">
			
		</picture>
		<br>
		<video width="400"  controls muted autoplay >
			<source src="video 2.mp4" type="video/mp4" >
		</video>
	
		<ul>
		  <li>Produced by - 
			<b>
				<i>
						Albert S.Ruddy
				</i>
			</b>
		</li>
		  <li>Production companies - 
			<b>
				<i>
						
							Paramount Pictures & Alfran Productions
				</i>
			</b>
		</li>
		  <li>Release date -
			<b>
				<i>
					1972
				</i>
			</b>
		</li>
		</ul>
	</p>
<hr>


<p>
		<h4>
			<b>
				<i>
					3.The Godfather: Part II 
				</i>
			</b>
		</h4>
		<picture>
			
			<img src="image 3.jpg" alt="Flowers" style="width:auto;" width=""  height="200">
			
		</picture>
		<br>
		<video width="400" controls muted autoplay>
			<source src="video 3.mp4" type="video/mp4">
		</video>
	
		<ul>
		  <li>Produced by - 
			<b>
				<i>
							Francis Ford Coppola
				</i>
			</b>
		</li>
		  <li>Production companies - 
			<b>
				<i>
						
							Paramount Pictures & The Coppola Company
				</i>
			</b>
		</li>
		  <li>Release date -
			<b>
				<i>
					1974
				</i>
			</b>
		</li>
		</ul>
	</p>
<hr>



<p>
		<h4>
			<b>
				<i>
					4.The Dark Knight 
				</i>
			</b>
		</h4>
		<picture>
			
			<img src="image 4.jpg" alt="Flowers" style="width:auto;" width=""  height="200">
			
		</picture>
		<br>
		<video width="400" controls muted autoplay>
			<source src="video 4.mp4" type="video/mp4">
		</video>
	
		<ul>
		  <li>Produced by - 
			<b>
				<i>
								Christopher Nolan
				</i>
			</b>
		</li>
		  <li>Production companies - 
			<b>
				<i>
						
							Warner Bros. Pictures, Legendary Pictures, DC Comics & Syncopy
				</i>
			</b>
		</li>
		  <li>Release date -
			<b>
				<i>
					2008
				</i>
			</b>
		</li>
		</ul>
	</p>
<hr>

<p>
		<h4>
			<b>
				<i>
					5.12 Angry Men 
				</i>
			</b>
		</h4>
		<picture>
			
			<img src="image 5.jpg" alt="Flowers" style="width:auto;" width=""  height="200">
			
		</picture>
		<br>
		<video width="400" controls muted autoplay>
			<source src="video 5.mp4" type="video/mp4">
		</video>
	
		<ul>
		  <li>Produced by - 
			<b>
				<i>
									Sidney Lumet
				</i>
			</b>
		</li>
		  <li>Production company - 
			<b>
				<i>
						
							Orion-Nova Productions
				</i>
			</b>
		</li>
		  <li>Release date -
			<b>
				<i>
					1957
				</i>
			</b>
		</li>
		</ul>
	</p>
<hr>


</body>
</html>